body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.sidebar {
    width: 200px;
    background-color: #32495e;
    height: 100vh;
    float: left;
    color: white;
}

.cbams {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #2d3c4e;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #3e5c76;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
}

.header {
    margin-left: 200px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 85%;
}

.container {
    display: flex;
    height: 100%;
    margin-top: 35px;
}

.left {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flow-chart {
    width: 100%;
    height: 100%;
}

.right {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
}

.footer a {
    color: #1890ff;
    text-decoration: none;
}